body{
    background-color: white;
    color: 'black';
}
.semaforo{

    background-color: black;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 230px;
}
.aura{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}
.red{
    background-color: gray;
}
.yellow{
    background-color: gray;
}
.green{
    background-color: gray;
}