*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: aliceblue;
    color: #333
}

header{
    background-color: rgb(83, 233, 188);
    color: white;
    text-align: center;
    padding: 30px 20px;
}
header h1{
    font-size: 2,5em;
    letter-spacing: 2px;
}
header p{
    margin-top: 50;
}

nav{
    background-color:rgb(59, 201, 158) ;
    padding: 10px;
}
 nav ul{
    text-align: center;
 }
 nav ul li{
    display: inline;
    margin: 0 15px;
 }

 nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
 }


 nav ul li a:hover{
    text-decoration: underline;
    color:#333
 }


 hr{
    height: 1px;
    background-color: aquamarine;
    margin: 30px 0;
 }


.secao1{
    background-image: url(./imagens/section.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imagens/section.jpg') no-repeat center / cover;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    border: 0px;
    margin-top: 50px;
    margin-bottom: 15px;
    padding-top: 60px;
    padding-left: 70px;
}
.secao1 p{
    font-size: 1.2rem;
}
section{
    margin-left: 150px;
}

.secao1 h2{
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 50px;
    text-decoration: none;
    justify-content: center;
    color: white;
    padding: 10px;
}

 section h2{
    font-size: 4rem ;
    margin-bottom: 15px;
    color: rgb(83, 233, 188);
    padding-left: 50px;
 }


 .artigo1{
    background-image: url(./imagens/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imagens/1.jpg') no-repeat center / cover;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    border: 0px;
    margin-bottom: 15px;
    padding-top: 60px;
    padding-left: 70px;
 }
 .artigo2{

    background-image: url(./imagens/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imagens/2.jpg') no-repeat center / cover;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    border: 0px;
    margin-bottom: 15px;
    padding-top: 60px;
    padding-left: 70px;
 }
 .artigo3{
    background-image: url(./imagens/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imagens/3.jpg') no-repeat center / cover;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    border: 0px;
    padding-top: 60px;
    padding-left: 70px;
 }

 section div{
    width: 100px;
    height: 10px;
    background-color: rgb(83, 233, 188);
    border-radius: 4px;
    margin-bottom: 60px;
 }

 article p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 50px;
    font-weight: 300;
    justify-content: center;
 }

article h3{
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 50px;
    text-decoration: none;
    justify-content: center;
    padding: 10px;
}

article a{
    display: inline-block;
    background-color: rgb(83, 233, 188);
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}
article a:hover{
    background-color: rgb(56, 160, 129);
    transform: scale(1.05);
}


aside{
    margin-left: 150px;
    background-color: #fff1f1;
    padding: 15px;
    border-radius: 15px;
    border-left: 10px solid red ;
    text-decoration: none;

}
aside h3{
    margin-bottom: 10px;
    color: red;
}   

aside ul{
    list-style: none;
}
aside ul li a{
    text-decoration: none;
    margin-left: 30px;
    color: black;

}


footer{
    background-color: rgb(83, 233, 188);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}